.content-body {
  color: white;
}
.satellite-info {
  padding: 10px;
  font-family: Poppins;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 3rem;
}
.satellite-info h1 {
  font-weight: bold;
  font-size: 3rem;
  font-family: "Merriweather Sans", sans-serif;
}
.satellite-info h1 img {
  position: relative;
  top: 15px;
}

.Satellite_satellite-info__2UzBF h3, [class*="satellite-info"] h3 {
  display: list-item;
  list-style-type: '🛰 ';
  list-style-position: inside;
}