@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Poppins:wght@300&family=Secular+One&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(19, 2, 117);
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
}

.main_heading {
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  background-color: rgb(91, 63, 245);
  border-radius: 5px;
}

.text h1 {
  font-family: "Secular One", sans-serif;
  font-size: 4.5rem;
  color: white;
}

.text p {
  font-family: "Secular One", sans-serif;
  color: white;
  font-size: 1.5rem;
}
.image1 img {
  float: left;
  margin: 2rem;
  width: 12%;
  animation: rotation infinite 10s linear;
}
.image2 img {
  float: right;
  width: 12%;
  margin: 2rem;
  animation: rotation infinite 10s linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.particle {
  position: absolute;
  z-index: -1;
  width: 100%;
}

.body {
  text-align: left;
  padding: 1rem;
  margin: 3rem;
  background-color: rgb(85, 102, 255);
  border-radius: 5px;
}

.searchkabox {
  text-align: center;
}

.searchkabox .searchbar {
  background-color: rgb(225, 228, 255);
  padding: 1rem;
  width: 80%;
  border: none;
  outline: none;
  border-radius: 5px;
  border-color: white;
}
/* .searchbar {
	outline: none;
	width: 85%;
	padding: 1rem;
	background-color: white;
	border: none;
	border-radius: 4px;
	display: inline-block;
} */

input[type="submit"] {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) background-color 0.4s;
}
input[type="submit"]:hover {
  padding: 1rem;
  margin: 0.5rem;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  background-color: rgb(85, 102, 255);
}

.searchkabox .searchbar::placeholder {
  font-weight: bold;
  color: rgb(82, 82, 82);
  font-size: 1rem;
  width: 100%;
  display: inline-block;
}

.detailbox {
  position: relative;
  margin: 3rem;
  text-align: left;
}
.detailbox h2 {
  color: white;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 3rem;
  border-bottom: 2px solid whitesmoke;
}

.planimg {
  float: right;
}

.planimg img {
  width: 400px;
  height: 400px;
  margin: 6rem;
  animation: rotation infinite 15s linear;
}
.bar {
  text-align: center;
}

.bar img {
  width: 6%;
  height: 6%;
  margin: 2rem;
  cursor: pointer;
  animation: rotation infinite 15s linear;
}
.deepbox {
  position: relative;
  margin: 3rem;
  text-align: left;
}

.deepbox h3 {
  color: white;
  font-family: Poppins;
  font-size: 1.5rem;
  font-weight: 300;
  display: list-item;
  list-style-type: '🪐';
  list-style-position: inside;
}

.deepbox p {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  text-align: justify;
}

.end h2 {
  font-size: 1.5rem;
  color: white;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.end a {
  color: rgb(251, 255, 0);
}

@media only screen and (max-width: 670px) {
  .searchbar {
    width: 80vw;
  }
}

@media only screen and (max-width: 600px) {
  .planimg img {
    width: 300px;
    height: 300px;
    margin: 4rem;
    animation: rotation infinite 15s linear;
  }
}
@media only screen and (max-width: 430px) {
  .planimg img {
    width: 300px;
    height: 300px;
    margin: 2rem;
    animation: rotation infinite 15s linear;
  }
}
