.load__wrapper__img2 {
  margin: 2rem;
  max-width: 30%;
    animation: rotation 30s linear infinite;
  }
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }

  

