.container{
  display:grid;
  place-items: center;
}
.load__wrapper__img {
    padding-top:7%;
            width: 70vw;
            max-width: 300px;
        animation: floating 10s linear infinite;
      }
      @keyframes floating {
        0% {
          transform: translateY(0px);
          opacity: 1;
        }
        50% {
          transform: translateY(-70px);
          opacity: 1;
        }
        100% {
          transform: translateY(0px);
          opacity: 1;
        }
      }

      .typing {
        
                  
        width: 100%;
        animation: typing 7s  infinite;
        white-space: nowrap;
        overflow: hidden;
        
      }
      
      @keyframes typing {
        from {
          width: 0;
        }
      }
      
    
    