.cards {
  text-align: center;
  align-content: center;
}
.cardblock {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
}

.github-button img{
  height: 36px;
}

.github-button .github{
  line-height: 0;
  border: .5px solid black;
    display: inline-block;
    padding: 4px 12px;
    border-radius: 10px;
    transition: all .3s ease-in-out;
    background-color: rgb(255, 255, 255);


}

.github-button .github:hover {
  transform: scale(1.1);

}


.card__category {
  /* font-size: 2rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 2rem;
    padding: 2rem; */
  display: flex;
  align-items: center;
  /* padding: 2rem; */

  margin: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(85, 102, 255);
  border-radius: 8px;
  transition: 0.3s all ease-in-out;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  flex-direction: column;
}
.card__category img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 1rem;
}
.card__category span{
  margin-bottom: 1rem;
}


span {
  margin: 0 auto;
}

/* .card__category:hover {
    flex: 1;
    font-size: 1.5rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 4rem;
    padding: 2rem;
    background-color: rgb(85, 102, 255);
    border-radius:8px;
    transform: scale(1.1);

} */
.main_page,
.page1,
.page2 {
  font-size: 2rem;
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 870px) {
  .cardblock {
    display: flex;
    flex-direction: row;
  }
  .card__category {
    /* padding: 1.5rem; */
    font-size: 1.5rem;
    margin: 2rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(85, 102, 255);
    border-radius: 8px;
    transition: 0.3s all ease-in-out;
    font-weight: bold;
    text-align: center;
  }

  .main_page,
  .page1,
  .page2 {
    font-size: 1rem;
    color: white;
    text-decoration: none;
    user-select: none;
    cursor: normal;
  }
}
@media only screen and (max-width: 630px) {
  .cardblock {
    display: flex;
    flex-direction: column;
  }
  .main_page,
  .page1,
  .page2 {
    font-size: 1rem;
    color: white;
    text-decoration: none;
    user-select: none;
    cursor: normal;
  }
}
