.cards{
    text-align: center;
    align-content: center;
}

.card__category {
    font-size: 2rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 4rem;
    padding: 2rem;
    background-color: rgb(85, 102, 255);
    border-radius:8px;
    transition: 0.3s all ease-in-out;
    font-weight: bold;
    text-align: center;
    display: inline-block;
}

/* .card__category:hover {
    flex: 1;
    font-size: 1.5rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 4rem;
    padding: 2rem;
    background-color: rgb(85, 102, 255);
    border-radius:8px;
    transform: scale(1.1);

} */

.main_page, .page1, .page2 {
    font-size: 2rem;
    color:white;
    text-decoration: none;
}
