.planet {
  transition: all 0.3s;
  width: 100%;
  height: auto;
  border: 2px solid transparent;
  border-radius: 100%;
  padding: 10px;
  cursor: pointer;
  animation: rotation infinite 15s linear;
}
.planet:hover {
  width: 110%;
  border: 2px solid #fa965f;
  border-radius: 100%;
}

.planet:focus {
  border: 2px solid #fa965f;
  border-radius: 100%;
}

button {
  background: none;
  outline: none;
  border: none;
  max-width: 130px;
  height: 150px;
}

.planets {
  max-width: 85vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
  .planets {
    max-width: 100vw;
  }

  button {
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 400px) {
  .planets {
    max-width: 90vw;
  }

  button {
    width: 80px;
    height: 80px;
  }
}
