#map {
    height       : 500px;
    /* The height is 400 pixels */
    width        : 100%;
    /* The width is the width of the web page */
    margin-bottom: 20px;
}

.map-heading {
    text-align : center;
    color      : white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.map-button {
    text-decoration : none;
    text-align      : center;
    padding         : 10px 50px;
    background-color: #088000;
    color           : white;
    margin-left     : 45%;
    font-size       : 20px;
    border-radius   : 5px;
}

.map-button:hover {
    background-color: #089222;
    cursor          : pointer;
}

.lds-hourglass {
    display: flex;
    justify-content: center;
    text-align: center;
    
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    text-align: center;
    box-sizing: border-box;
    border: 32px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }
  